@import "~flexboxgrid/dist/flexboxgrid.min.css";
@import "~normalize-css/normalize.css";
@import "./variables.scss";
@import './padding.scss';
@import './margin.scss';

@import '../components/Header/header.scss';
@import '../components/Footer/footer.scss';
@import '../components/Content/content.scss';

body {
  font-family: $font-fam;
}

.no-scroll {
  overflow: hidden;
}

.title-txt {
  font-family: $font-fam-title;
}

a {
  padding: --gutter-width;
  text-decoration: none;
  color: royalblue;
  border: none;
  outline: none;

  &:focus, &:active {
    border: none;
    outline: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style-type: circle;
}

li {
  padding: 8px;
  // border-bottom: 1px solid lightgray;
}

p {
  line-height: 1.5em;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
  visibility: hidden;
}

.show-overlay {
  visibility: visible;
}