#app-header {
  background-color: white;
  box-shadow: 0px 10px 60px lightgrey;
  margin-bottom: 60px;
  position: fixed;
  width: 100%;
  top: 0;
}

#nav-links-container {
  top: 0;
  height: 100vh;
  position: fixed;
  min-width: 200px;
  padding: 0 30px;
  overflow-y: auto;
  background-color: white;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  border-right: 5px solid darkorange;
}

#nav-links-container.closed-nav {
  left: -100%;
}

#nav-links-container.open-nav {
  transform: translateX(0%);
  z-index: 2;
  visibility: visible;
}

.linkedin-nav-icon {
  text-align: right;
}

.nav-link {
  border-bottom: 3px solid lightgray;
}

.logo {
  text-align: center;
}